body,html{
	padding:0px;
	margin: 0px;
}
body{
	text-align: left;
	font-family: 'Raleway', sans-serif;
    font-size: 13px;
	overflow-x: hidden;
}
header{
	width: 100%;
	text-align: center;
}
#logo{
	margin: auto;
	line-height: 87px;
}
#logo img{
	margin-top: 20px;
}
#slogan {
	font-size: 16px;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 400;
    margin-top: -20px;
}
#mainnav{
	text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    margin-top: 20px;
	z-index: 1000;
}
#mainnav > ul:before, #mainnav > ul:after { background-color: #d0d0d0; content: ""; display: inline-block; height: 1px; bottom: .1em; position: relative; vertical-align: middle; width: 50%; }
#mainnav > ul:before {right: 29px;margin-left: -50%;}
#mainnav > ul:after { left: 29px; margin-right: -50%; }
#mainnav > ul > li{
	list-style-type: none;
	display: inline-block;
	padding: 8px 10px;
	margin: 0 8px;
	position: relative;
}

#mainnav li:hover, #mainnav li.active{
	background-color: #f6f6f6;
    color: #484848;
}
#mainnav li a{
	text-decoration: none;
	font-family: "Open Sans" !important;
	padding: 10px 14px;
    font-size: 14px !important;
    color: #000;
}
li.has-dropdown:hover .dropdown{
	 visibility: visible;
  	opacity: 1;
	z-index: 1000;	
	
}
.dropdown{
	visibility: hidden;
	position: absolute;
	top:40px;
	left: 0px;
	background-color: #f6f6f6;
	text-align: center;
	padding: 0px;
	opacity: 0;
	-webkit-transition: opacity 600ms, visibility 600ms;
  	transition: opacity 600ms, visibility 600ms;
	
}
.dropdown li{
	list-style-type: none;
	padding: 5px 10px;
	text-align: left;
}
.dropdown li:hover{
	background-color: #ccc!important;
}

.footer-menu {
	text-align: center;

}
.footer-menu > ul > li{
	list-style-type: none;
	display: inline-block;
	padding: 8px 10px;
	margin: 0 8px;
	position: relative;
}
.footer-menu > ul > li:hover{
	background-color:   #f6f6f6;
}
.footer-menu .active{
	background-color:   #f6f6f6;
}
.footer-menu li a{
	text-decoration: none;
	font-family: "Open Sans" !important;
	padding: 10px 14px;
    font-size: 14px !important;
    color: #000;
}
#footer{
	margin-top: 40px;
}
#self-info p {
                width: 80%;
				text-align: center;
                padding: 10px;
               margin: 0 auto;
            }
#footer-title {
                text-align: center;
                font-size: 20px;
                color: black;
				margin-bottom: 40px;
}

 #footer-title::before {
                background-color: #d0d0d0;
                content: "";
                display: inline-block;
                height: 1px;
                bottom: .1em;
                position: relative;
                vertical-align: middle;
                width: 45%;
				right: 20px;
}

#footer-title::after {
                background-color: #d0d0d0;
                content: "";
                display: inline-block;
                height: 1px;
                bottom: .1em;
                position: relative;
                vertical-align: middle;
                width: 45%;
				left: 20px;
}